# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/*.tfstate.*.backup
**/*.tfvars
**/.terraform.lock.hcl

# Secrets
**/.env
**/*.pem
**/*.key
ansible/secrets.yml

# Headscale runtime state
services/vps/headscale/*.pem
services/vps/headscale/private.key
services/vps/headscale/noise_private.key
/var/lib/headscale/

# ACME certs
services/anton/traefik/acme/

# OS
.DS_Store
